#output {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    width: auto;
    word-wrap: break-word;
    overflow: scroll;
}

#html {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    width: auto;
    word-wrap: break-word;
    overflow: scroll;
}

